// Core variables and mixins
@import "less/lib/bootstrap/variables.less";
@import "less/lib/bootstrap/mixins.less";
@import "less/lib/bootstrap/utilities.less";

// Reset
@import "less/lib/bootstrap/normalize.less";
@import "less/lib/bootstrap/print.less";

// Core CSS
@import "less/lib/bootstrap/scaffolding.less";
@import "less/lib/bootstrap/type.less";
@import "less/lib/bootstrap/code.less";
@import "less/lib/bootstrap/grid.less";
@import "less/lib/bootstrap/tables.less";
@import "less/lib/bootstrap/forms.less";
@import "less/lib/bootstrap/buttons.less";
@import "less/lib/bootstrap/button-groups.less";
@import "less/lib/bootstrap/input-groups.less";

// Icon font
@import "less/lib/font-awesome/font-awesome.less";

// File input (from Jasny)
@import "less/lib/bootstrap/fileinput.less";

// NPR colors
// -------------------------
@inlineLink: #4774cc;
@primaryControl: #6d8ac4;
@secondaryControl: #bccae5;
@heavyGray: #e0e0e0;
@lightGray: #ebebeb;
@brandingGray: #7c7c7c;
@nprTextColor: #111;
@darkHover: #4065a2;
@deepBlue: #7598C9;

//music palette
@musicDark: #41474E;
@musicMedium: #e6ebf2;
@musicLight: #dbe0e6;

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header {
    margin: 50px 0;
}

.quiz-list {
    caption {
        font-size: 200%;
    }
    td {
        text-align: center;
    }
}

#quiz-form {
    margin-top: 50px;
}

.game-attributes {
	padding-bottom: 30px;
	border-bottom: 4px solid #333;
	
	h2 {margin-bottom: 50px;}
}

.questions {
    position: relative;
    /*top: -20px;*/
    
    h2 {margin-top: 50px;}
    
}

.question-details {
	padding: 0 20px;
}


.question {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #eee;
    
    
    
    .question-settings {
	    position: relative;
	    
	    .rm-question {
		   float: right; 
		   margin-bottom: 20px; 
		   font-size: 12px;
		   background-color: #ccc;
		   border: none;
		   
		   &:hover {
				background-color: #aaa;
			}
	    }
    }
}

.question-files {
	margin-top: 20px;
}

.question-info {
    margin-bottom: 20px;
}


.choices {
	padding: 0 20px;
	
	
	.choice {
	    
	}
	
	.choice-text {
	    margin-bottom: 20px;
	}
	
}

.add-answer {
	h5 {
		background-color: #e9e9e9;
		padding: 10px;
		text-align: center;
		margin: 15px 0 0 0;
		border-top: 1px solid #ccc;
	}
}

/* audio and photo select */
.audio {
	.form-control {
		display: none;
	}
}
	
.audio, .photo {
	.btn-file {
		border: none;
		background-color: transparent;
		text-align: left;
	}
}

.photo {
	.form-control {
		display: none;
	}
	
	.btn-file {
		border: none;
		background-color: transparent;
		text-align: left;
		
	}
	
    .preview {
        width: 64px;
        height: auto;
    }
}


.toolbelt {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    border-top: 2px solid @heavyGray;
    text-align: center;
}

.fileinput-filename {
    font-size: 50%;
}

@media (min-width: 1024px) {
    .add-quiz-btn {
        .pull-right();
    }
}
