// Core variables and mixins
@import "less/lib/bootstrap/variables.less";
@import "less/lib/bootstrap/mixins.less";
@import "less/lib/bootstrap/utilities.less";

// Reset
@import "less/lib/bootstrap/normalize.less";
@import "less/lib/bootstrap/print.less";

// Core CSS
@import "less/lib/bootstrap/scaffolding.less";
@import "less/lib/bootstrap/type.less";
@import "less/lib/bootstrap/code.less";
@import "less/lib/bootstrap/grid.less";
@import "less/lib/bootstrap/tables.less";
@import "less/lib/bootstrap/forms.less";
@import "less/lib/bootstrap/labels.less";
@import "less/lib/bootstrap/buttons.less";

// Icon font
@import "less/lib/font-awesome/font-awesome.less";

// LESS Hat Mixins
@import "less/lib/lesshat-prefixed.less";

// NPR colors
// -------------------------
@inlineLink: #4774cc;
@primaryControl: #6d8ac4;
@secondaryControl: #bccae5;
@heavyGray: #e0e0e0;
@lightGray: #ebebeb;
@brandingGray: #7c7c7c;
@nprTextColor: #111;
@darkHover: #4065a2;
@deepBlue: #7598C9;

//music palette
@musicDark: #41474E;
@musicMedium: #e6ebf2;
@musicLight: #dbe0e6;

// Game colors
@correct: fade(@brand-success, 80%);
@incorrect: fade(@brand-danger, 80%);

// Mixins
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



// Styles
body {
	background: @musicDark;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

#content {
	.progress {
		height: 30px;
		background: fade(@musicMedium, 20%);
		margin: 0 0 @line-height-computed / 2;

		.bar {
			height: 30px;
			background: fade(@secondaryControl, 20%);
			.transition(background 1s ease-in-out);

			&.safe {
				// background: fade(@brand-success, 50%);
			}

			&.danger {
				background: fade(@brand-danger, 90%);
			}

			&.warning {
				// background: fade(@brand-warning, 70%);
			}
		}
	}

	.jp-controls {
		font-size: @font-size-large * 1.5;
		background: @primaryControl;
		float: left;

		a {
			display: block;
			color: @musicMedium;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
		}
	}

	h1 {
		margin: 15px 0 0 0;
		font-size: @font-size-base;
		font-weight: 400;
		line-height: 1.2;

		@media screen and (min-width: @screen-sm){
			font-size: @font-size-large * 1.5;
		}

		&.question-text {
			margin: 0;

			.audio& {
				padding-left: 50px + @grid-gutter-width/2;
			}
		}
	}
	h3 {
		text-transform: uppercase;
		font-size: 16px;
		color: hsl(213, 9%, 79%);
	}

	.answers {
		padding: @line-height-computed 0 0 0;
		overflow: hidden;
		clear: both;
		.make-row();
		margin-left: -@grid-gutter-width / 4;
		margin-right: -@grid-gutter-width / 4;

		li {
			list-style: none;
			margin-bottom: 6px;
			color: @musicLight;
			.make-xs-column(12);
			padding-left: @grid-gutter-width / 4;
			padding-right: @grid-gutter-width / 4;

			.transition(opacity .4s ease);

			&.fade {
				opacity: 0.2;
			}

			a {
				position: relative;
				display: table;
				width: 100%;
				overflow: hidden;
				min-height: 60px;
				background: fade(@gray-darker, 50%);
				color: @musicLight;

				&:hover {
					text-decoration: none;
					background: fade(@gray-darker, 30%);
				}

				&:focus {
					outline: none;
				}

				.cover,
				.answer {
					display: table-cell;
					vertical-align: top;
				}

				.cover {
					width: 60px;
					overflow: hidden;
					vertical-align: middle;

					img { 
						width: 100%; 
					}

					@media screen and (min-width: @screen-sm){
						width: 120px;
					}
				}

				.answer {
					padding: 5px 40px 0 10px;
					border-width: 0 0 0 10px;
					border-style: solid;
					border-color: fade(@gray-darker, 50%);
					font-size: @font-size-small;

					@media screen and (min-width: @screen-sm){
						font-size: @font-size-base;
						padding: @line-height-computed @line-height-computed + 30 @line-height-computed @line-height-computed;
					}
				}

				.answer:after {
					font-family: FontAwesome;
					font-size: 200%;
					position: absolute;
					margin-top: -25px;
					top: 50%;
					right: 10px;
					-webkit-font-smoothing: antialiased;
				}
			}

			&.correct {
				.answer {
					border-color: @correct;

					&:after {
						content: "\f00c";
						color: @correct;
					}
				}
			}

			&.incorrect {
				.answer {
					border-color: @incorrect;

					&:after {
						content: "\f00d";
						color: @incorrect;
					}
				}
			}

			&.has-cover {
				@media screen and (min-width: @screen-sm){
					.make-sm-column(3);

					padding-left: @grid-gutter-width / 4;
					padding-right: @grid-gutter-width / 4;

					a {
						display: block;
						background: transparent;

						.cover,
						.answer {
							display: block;
							width: 100%;
						}

						.answer {
							border-width: 10px 0 0 0;
							padding: 5px 0;
							position: relative;

							&:after {
								font-size: @font-size-large;
								top: 0;
								right: 0;
								margin-top: 0;
							}
						}
					}
				}
			}

			@media screen and (min-width: @screen-sm){
				.make-sm-column(6);
				padding-left: @grid-gutter-width / 4;
				padding-right: @grid-gutter-width / 4;
				margin-bottom: @grid-gutter-width / 2;

				a {
					min-height: 120px;
				}
			}
		}
	}

	#next-question,
	#show-score {
		display: none;
		position: relative;
		z-index: 1000;
		-webkit-font-smoothing: antialiased;

		&.show {
			display: block;
			.pull-right;

			text-transform: uppercase;
			font-size: @font-size-base;
			font-weight: bold;
		}
	}

	&.start,
	&.end {
		.category-header {
			background: lighten(@musicDark, 10%);
			padding: 10px;
			margin-bottom: @line-height-computed;

			h2 {
				margin: 0;
			}
		}
		.next-up {
			.make-sm-column(12);
		}

		.cover {
			img {
				.img-circle;
				border: 5px solid #fff;
			}
		}

		h1 {
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 0;

			a {
				text-transform: uppercase;
				font-size: @font-size-base * 2;
				font-weight: bold;
			}
		}

		h2 {
			text-transform: uppercase;
			font-size: @font-size-large;
		}

		p {
			margin-bottom: @line-height-computed / 2;
		}

		.btn {
			text-transform: uppercase;
			font-weight: bold;
			-webkit-font-smoothing: antialiased;
		}
	}

	&.start {
		.quiz-info {
			&.has-cover {
				.cover {
					.make-sm-column(4);
				}
				.quiz-title {
					.make-sm-column(8);

					h1 {
						margin-bottom: @line-height-computed;
					}
				}
			}
		}
	}

	&.end {
		.quiz-info {
			&.has-cover {
				.cover {
					.make-xs-column(6);
					.make-sm-column(4);
				}
				.quiz-title {
					.make-xs-column(6);
					.make-sm-column(8);
				}
			}

			h3 {
				color: fade(#fff, 50%);
			}

			.score {
				font-size: @font-size-base * 5;
			}
		}

		.next-up {
			.make-sm-column(8);
			.make-sm-column-offset(4);

			h2 {
				border-top: 1px solid lighten(@musicDark, 20%);
				padding-top: @line-height-computed;
			}
		}

		ul {
			text-align: left;
			list-style: none;

			li {
				margin-bottom: @line-height-computed / 2;
				background: rgba(0,0,0,0.3);
				border-width: 0 0 0 10px;
				border-style: solid;
				padding: @grid-gutter-width / 2;

				&.correct {
					border-color: @correct;
				}

				&.incorrect {
					border-color: @incorrect;
				}


				h2 {
					text-transform: none;
					margin-top: 0;
				}

				.jp-audio {
					margin-right: @grid-gutter-width / 2;
				}

				.your-answer,
				.correct-answer {
					color: @musicLight;
					position: relative;
					margin-bottom: @line-height-computed / 2;

					&:before {
						font-family: FontAwesome;
						-webkit-font-smoothing: antialiased;
					}
				}

				.your-answer {
					color: @correct;
					margin-bottom: 0;

					&:before {
						content: '\f00c';
					}

					&.incorrect {
						color: @incorrect;

						&:before {
							content: '\f00d';
						}
					}
				}
			}

			&.audio {
				h2,
				.answer {
					padding-left: 50px + @grid-gutter-width / 2;
				}
			}


			h2 {
				font-size: @font-size-base;
			}

			p {
				text-align: left;
				font-size: @font-size-small;

				&.your-answer {
					&:before {
						font-family: FontAwesome;
						margin-right: 10px;
					}
				}

				&.correct-answer {
					color: fade(@musicMedium, 50%);
				}
			}
		}

		#show-score {
			.hide;
		}
	}
}

.score-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;

	#score {
		.scale(0);
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 20000;
		margin-left: -75px;
		margin-top: -75px;
		padding: 10px;
		width: 150px;
		height: 150px;
		box-sizing: border-box;

		border-radius: 75px;
		background: fade(@brand-success, 90%);
		text-align: center;
		text-transform: uppercase;
		font-size: @font-size-base * 3;
		line-height: 125px;
		opacity: 0;

		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);

		&.zero {
			background: fade(@brand-danger, 90%);
		}

		&.fade-in {
			z-index: 10;
			.lh-animation(zoomOut 1000ms ease both);
		}
	}
}


.lh-keyframes(~'zoomOut, 0%{opacity: 0; transform: scale(3); } 15%{opacity: 1; transform: scale(0.8); } 25%{opacity: 1; transform: scale(1.1); } 30%{opacity: 1; transform: scale(1); } 70%{opacity: 1; transform: scale(1); } 75%{opacity: 1; transform: scale(1.2); } 100%{opacity: 0; transform: scale(0); } ');

