// Core variables and mixins
@import "less/lib/bootstrap/variables.less";
@import "less/lib/bootstrap/mixins.less";
@import "less/lib/bootstrap/utilities.less";

// Reset
@import "less/lib/bootstrap/normalize.less";
@import "less/lib/bootstrap/print.less";

// Core CSS
@import "less/lib/bootstrap/scaffolding.less";
@import "less/lib/bootstrap/type.less";
// @import "less/lib/bootstrap/code.less";
@import "less/lib/bootstrap/grid.less";
// @import "less/lib/bootstrap/tables.less";
@import "less/lib/bootstrap/forms.less";
@import "less/lib/bootstrap/labels.less";
@import "less/lib/bootstrap/buttons.less";

// Icon font
@import "less/lib/font-awesome/font-awesome.less";

// LESS Hat Mixins
@import "less/lib/lesshat-prefixed.less";

// NPR colors
// -------------------------
@inlineLink: #4774cc;
@primaryControl: #6d8ac4;
@secondaryControl: #bccae5;
@heavyGray: #e0e0e0;
@lightGray: #ebebeb;
@brandingGray: #7c7c7c;
@nprTextColor: #111;
@darkHover: #4065a2;
@deepBlue: #7598C9;

//music palette
@musicDark: #41474E;
@musicMedium: #e6ebf2;
@musicLight: #dbe0e6;

// Game colors
@correct: @brand-success;
@incorrect: @brand-danger;

// Mixins
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



// Styles
body {
	color: @text-color;
	-webkit-font-smoothing: antialiased;
	background: #f5f5f5;

	&:after {
		display: none;
		content: 'xs';

		@media screen and (min-width: @screen-sm){
			content: 'sm';
		}

		@media screen and (min-width: @screen-md){
			content: 'md';
		}

		@media screen and (min-width: @screen-sm){
			content: 'lg';
		}
	}
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
}

.img-responsive {
	width: 100%;
	opacity: 0;
	.transition(opacity 0.2s ease-in);

	&.fade-in {
		opacity: 1;
	}
}

#content {

	.container {
		.end& {
			.transition(all 0.4s ease);
			.translate(0,-100%);

			&.in {
				.translate(0,0);
			}
		}
	}

	.question-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		.question& {
			.transition(all 0.2s ease);
			.translate(100%,0);

			&.in {
				.translate(0,0);
			}

			&.out {
				.translate(-100%,0);
			}
		}
	}

	.question-header {
		position: relative;
		background: #ddd;
	}

	.progress-header {
		text-transform: uppercase;
		font-size: 12px;
		color: #666;
		font-weight: bold;
		height: 44px;
		line-height: 44px;
		padding: 0 @grid-gutter-width / 2;
		margin-bottom: @line-height-computed / 2;
		position: relative;
		z-index: 200;

		@media screen and (min-width: @screen-sm){
			margin-bottom: @line-height-computed;
		}
	}

	.progress {
		height: 44px;
		width: 100%;
		background: fade(@musicMedium, 50%);
		margin: 0 0 @line-height-computed / 2;
		position: absolute;
		left: 0;
		top: 0;

		.bar {
			height: 44px;
			background: fade(@secondaryControl, 50%);
			.transition(background 1s ease-in-out);

			&.safe {
				// background: fade(@brand-success, 50%);
			}

			&.danger {
				background: fade(@brand-danger, 60%);
			}

			&.warning {
				// background: fade(@brand-warning, 70%);
			}
		}
	}

	.jp-controls {
		font-size: @font-size-large;
		float: left;
		margin-bottom: @line-height-computed / 2;

		@media screen and (min-width: @screen-sm){
			margin-bottom: @line-height-computed;
		}

		a {
			display: block;
			color: #555;
			width: 60px;
			height: 60px;
			line-height: 50px;
			text-align: center;
			border-radius: 60px;
			border: 5px solid #9ba3be;


			i {
				margin-right: -1px;

				&.fa-play {
					margin-right: -3px;
				}
			}
		}
	}

	h1 {
		font-size: @font-size-base;
		font-weight: 700;
		line-height: 1.2;

		@media screen and (min-width: @screen-sm){
			font-size: @font-size-large * 1.5;
		}

		&.question-text {
			margin: 0 0 @line-height-computed;

			.audio& {
				padding-left: 50px + @grid-gutter-width/2;
			}
		}
	}



	.after-text {
		background: rgba(68, 77, 88,0.9);
		display:none;
		clear: both;
		padding: @line-height-computed / 2;
		overflow: hidden;
		margin: 0 -@grid-gutter-width / 2 @line-height-computed;

		h3 {
			font-weight: bold;
			font-size: @font-size-base;
			text-transform: uppercase;
			color: #fff;
		}

		p {
			color: #fff;
			font-size: @font-size-small;
		}
	}

	.answers {
		padding: 0;
		overflow: hidden;
		clear: both;
		.make-row();
		margin-left: -@grid-gutter-width / 4;
		margin-right: -@grid-gutter-width / 4;

		li {
			list-style: none;
			margin-bottom: 6px;
			.make-xs-column(12);
			padding-left: @grid-gutter-width / 4;
			padding-right: @grid-gutter-width / 4;

			.transition(opacity .4s ease);

			&.fade {
				opacity: 0.1;
			}

			a {
				position: relative;
				display: table;
				width: 100%;
				overflow: hidden;
				min-height: 60px;
				background: @lightGray;

				&:hover {
					text-decoration: none;
					background: @primaryControl;
					color: #fff;
				}

				&:focus {
					outline: none;
				}

				.cover,
				.answer {
					display: table-cell;
					vertical-align: top;
				}

				.cover {
					width: 60px;
					overflow: hidden;
					vertical-align: middle;

					img { 
						width: 100%; 
					}

					@media screen and (min-width: @screen-sm){
						width: 120px;
					}
				}

				.answer {
					padding: 5px 40px 0 10px;
					font-size: @font-size-small * 0.9;
					font-weight: bold;

					@media screen and (min-width: @screen-sm){
						font-size: @font-size-base;
						padding: @line-height-computed @line-height-computed + 30 @line-height-computed @line-height-computed;
					}
				}

				.answer:after {
					font-family: FontAwesome;
					font-size: 200%;
					position: absolute;
					margin-top: -25px;
					top: 50%;
					right: 10px;
					-webkit-font-smoothing: antialiased;
				}
			}

			&.correct,
			&.incorrect,
			&.fade a:hover,
			&.correct a:hover,
			&.incorrect a:hover {
				.answer {
					background: @lightGray;
					color: @primaryControl;
				}

				&.has-cover .answer {
					background: transparent;
				}

				@media screen and (min-width: 480px){
					&.has-cover a:hover .answer {
						background: transparent;
					}
				}
			}

			&.fade,
			&.correct,
			&.incorrect {
				a {
					cursor: default;
				}
			}

			&.correct {
				.answer {
					&:after {
						content: "\f00c";
						color: @correct;
					}
				}
			}

			&.incorrect {
				.answer {
					&:after {
						content: "\f00d";
						color: @incorrect;
					}
				}
			}

			&.has-cover {
				&.fade,
				&.correct,
				&.incorrect {
					a:hover {
						.cover {
							opacity: 1;
						}
					}
				}

				@media screen and (min-width: 480px) and (max-width: @screen-xs-max){
					width: 25%;

					a {
						.answer {
							font-size: @font-size-base * 0.8;
						}
					}
				}

				@media screen and (min-width: 480px){
					.make-sm-column(3);

					padding-left: @grid-gutter-width / 4;
					padding-right: @grid-gutter-width / 4;

					a {
						display: block;
						background: transparent;

						.cover,
						.answer {
							display: block;
							width: 100%;
						}

						.answer {
							border-width: 10px 0 0 0;
							padding: 5px 0;
							position: relative;

							&:after {
								font-size: @font-size-large;
								top: 0;
								right: 0;
								margin-top: 0;
							}
						}

						&:hover {
							color: @primaryControl;

							.cover {
								opacity: 0.7;
							}
						}
					}
				}
			}



			@media screen and (min-width: 480px){
				.make-xs-column(6);

				padding-left: 3px;
				padding-right: 3px;
			}

			@media screen and (min-width: @screen-sm){
				.make-sm-column(6);
				padding-left: @grid-gutter-width / 4;
				padding-right: @grid-gutter-width / 4;
				margin-bottom: @grid-gutter-width / 2;

				a {
					min-height: 120px;
				}
			}
		}

		&.photo-answers {
			li {
				position: relative;

				@media screen and (max-width: 480px){
					width: 50%;
					margin-bottom: @grid-gutter-width / 2;
				}

				.cover {
					&:after {
						font-family: FontAwesome;
						font-size: 100%;
						position: absolute;
						bottom: 0;
						right: 0;
						-webkit-font-smoothing: antialiased;
						color: #fff;
						.square(35px);
						line-height: 35px;
						text-align: center;
					}
				}

				&.correct {
					.cover {
						&:after {
							content: "\f00c";
							background: @correct;
						}
					}
				}

				&.incorrect {
					.cover {
						&:after {
							content: "\f00d";
							background: @incorrect;
						}
					}
				}
			}
		}
	}

	.next-question,
	.show-score {
		visibility: hidden;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1000;
		-webkit-font-smoothing: antialiased;

		&.btn.btn-large {
			font-size: 12px;
			padding: 12px;

			&:after {
				font-family: FontAwesome;
				content: " \f054";
			}
		}

		&.show {
			visibility: visible;
			.pull-right;

			text-transform: uppercase;
			font-size: @font-size-base;
			font-weight: bold;
		}
	}

	&.start,
	&.end {
		> .container {
			padding-top: @grid-gutter-width / 2;
			padding-bottom: @grid-gutter-width / 2;
		}

		.category-header {
			background: @lightGray;
			padding: 10px;
			margin-bottom: @line-height-computed;

			h2 {
				margin: 0;
			}
		}

		.cover {
			img {
				// .img-circle;
				margin-bottom: @grid-gutter-width / 2;
			}
		}

		h1 {
			text-transform: uppercase;
			font-weight: bold;
			margin-top: 0;

			a {
				text-transform: uppercase;
				font-size: @font-size-base * 2;
				font-weight: bold;
			}
		}

		h2 {
			text-transform: uppercase;
			font-weight: bold;
			font-size: @font-size-base;
		}

		p {
			margin-bottom: @line-height-computed / 2;
		}

		.btn {
			text-transform: uppercase;
			font-weight: bold;
			-webkit-font-smoothing: antialiased;
			margin-bottom: @line-height-computed;
		}
	}

	&.start {
		.quiz-info {
			.quiz-title {
				.make-xs-column(12);

				ul {
					margin-left: 1.2em;

					@media screen and (min-width: @screen-sm){
						margin-left: 1.7em;
					}
				}

				li {
					font-size: @font-size-base * 0.777777778;

					@media screen and (min-width: @screen-sm){
						font-size: @font-size-base;
					}
				}
			}


			&.has-cover {
				.cover {
					.make-xs-column(4);
					.make-sm-column(4);

					img {
						margin-bottom: 0;
					}
				}
				.quiz-title {
					.make-xs-column(8);
					.make-sm-column(8);

					h1 {
						margin-bottom: @line-height-computed / 2;
					}
				}
			}
		}
	}

	&.end {
		.quiz-info {

			.quiz-title {
				.make-xs-column(12);
			}

			&.has-cover {
				.cover {
					.make-xs-column(4);
					.make-sm-column(3);
					.make-md-column(2);

					margin-bottom: @line-height-computed;

					img {
						margin-bottom: 0;
					}
				}
				.quiz-title {
					.make-xs-column(8);
					.make-sm-column(9);
					.make-md-column(10);
				}
			}

			// h3 {
			// 	color: fade(#fff, 50%);
			// }

			.score {
				font-size: @font-size-base * 2;
				line-height: 1;

				@media screen and (min-width: 480px){
					font-size: @font-size-base * 3;
				}
			}
		}

		.responses {
			.make-xs-column(12);
			text-align: left;
			list-style: none;

			> li {
				margin-bottom: @line-height-computed / 2;
				.make-row();
				position: relative;

				.question,
				.choices {
					.make-xs-column(12);
				}

				&.has-photo {
					img.correct-choice {
						.make-xs-column(4);
						.make-sm-column(3);

						// padding-right: @grid-gutter-width / 4;
					}

					.choices {
						.make-xs-column(8);
						.make-sm-column(9);

						// padding-left: @grid-gutter-width / 4;
					}
				}



				&:before {
					display: block;
					content: ' ';
					margin: @line-height-computed @grid-gutter-width / 2;
					border-top: 2px solid @lightGray;
				}

				&:first-child:before {
					margin-top: 0;
				}

				h2 {
					text-transform: none;
					line-height: 1.1;
					font-size: @font-size-base;
					font-weight: bold;
					margin-bottom: @line-height-computed;
				}

				.jp-audio {
					margin-right: @grid-gutter-width / 2;
				}

				.fa-ul {
					margin-left: 1.2em;
					margin-bottom: @line-height-computed;

					@media screen and (min-width: @screen-sm){
						margin-left: 1.4em;
					}
				}

				.answer,
				.after-text p {
					font-size: @font-size-base * ( 14 / @font-size-base);

					@media screen and (min-width: @screen-sm){
						font-size: @font-size-small;
					}
				}

				.answer {
					position: relative;
					text-align: left;
					margin-bottom: @line-height-computed / 2;

					&:before {
						font-family: FontAwesome;
						-webkit-font-smoothing: antialiased;
						margin-right: 5px;
					}

					&.answer-selected {
						margin-bottom: 0;

						&.correct i {
							color: @correct;
						}

						&.incorrect i {
							color: @incorrect;
						}
					}

					&.answer-missed {
						color: @gray-light;
					}
				}


				.after-text {
					display: block;
					background: transparent;
					margin: 0;
					padding: 0;

					p {
						color: @text-color;

						strong {
							text-transform: uppercase;
						}
					}
				}



				h3 {
					font-size: @font-size-large;
					line-height: 1;
				}

				&.has-audio {
					h2 {
						margin-top: @line-height-computed / 2;
					}

					h2,
					.answer {
						padding-left: 60px + @grid-gutter-width / 2;
					}

					&.has-photo {
						.answer {
							padding-left: 0;
						}
					}
				}
			}
		}

		.next-up {
			.make-xs-column(12);
			background-color: #eee;
			padding-bottom: @line-height-computed;

			> a {
				.make-row();
				display: block;
			}

			h2 {
				padding: @grid-gutter-width / 2;
				background-color: #d9d9d9;
				color: #797979;
				text-transform: none;
				margin: 0 -@grid-gutter-width / 2 @line-height-computed;
			}

			h3 {
				font-size: @font-size-base * 1.33333;
				font-weight: bold;
			}

			h4 {
				font-weight: bold;
				font-size: @font-size-base * 0.777777778;
				color: #797979;
				text-transform: uppercase;
			}

			p {
				font-size: 13px;
				color: #797979;
			}

			.next-thumb {
				.make-sm-column(4);
				margin-bottom: @line-height-computed;
			}

			.next-desc {
				.make-sm-column(8);
			}
		}

		#show-score {
			.hide;
		}
	}
}

.score-container {
	position: absolute;
	top: 44px; // Add margin so we don't block clicks on the next question button
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;

	#score {
		.scale(0);
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 20000;
		margin-left: -75px;
		margin-top: -75px - 44px;
		padding: 10px;
		width: 150px;
		height: 150px;
		box-sizing: border-box;

		border-radius: 75px;
		background: fade(@brand-success, 90%);
		text-align: center;
		text-transform: uppercase;
		font-size: @font-size-base * 3;
		line-height: 125px;
		opacity: 0;
		color: #fff;

		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);

		&.zero {
			background: fade(@brand-danger, 90%);
		}

		&.fade-in {
			z-index: 10;
			.lh-animation(zoomOut 1000ms ease both);
		}
	}
}


.lh-keyframes(~'zoomOut, 0%{opacity: 0; transform: scale(3); } 15%{opacity: 1; transform: scale(0.8); } 25%{opacity: 1; transform: scale(1.1); } 30%{opacity: 1; transform: scale(1); } 70%{opacity: 1; transform: scale(1); } 75%{opacity: 1; transform: scale(1.2); } 100%{opacity: 0; transform: scale(0); } ');

