<div class="container">
    <form id="quiz-form" class="form-horizontal">

    	<div class="game-attributes">
    		<h2>Quiz</h2>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control title" placeholder="Title" value="<%= quiz.get('title') %>">
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="author" class="col-sm-2 control-label">Author</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control author" placeholder="Author" value="<%= quiz.get('author') %>">
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="category" class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-10">
                            <select class="form-control category">
                                <% _.each(APP_CONFIG.QUIZ_CATEGORIES, function(category, i){ %>
                                    <option value="<%= category %>"
                                    <% if (quiz.get('category') == category) { %>
                                        selected=selected
                                    <% } %>
                                    ><%= category %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
	        <div class="row">
	            <div class="col-md-12">
	                <div class="form-group">
	                    <label for="description" class="col-sm-2 control-label">Description</label>
	                    <div class="col-sm-10">
	                      <textarea class="form-control description" rows='3'><%= quiz.get('text') %></textarea>
	                    </div>
	                </div>
	            </div>
	        </div><!--/row-->
            <div class="row">
	            <div class="col-md-12">
	                <div class="form-group attach">
	                    <label for="photo" class="col-sm-2 control-label">Cover photo</label>
	                    <div class="col-sm-10">
					        <div class="photo">
					        </div>
	                    </div><!--/col10-->
	                </div><!--/fg-->
	            </div><!--/12-->
            </div><!--/row -->
		</div><!--/game-attributes-->


        <div class="questions">
        	<h2>Questions</h2>
        </div>
    </form>

    <div class="row question-add">
	    <div class="col-md-12 btns">
	        <a class="btn btn-success" id="add-question"><i class="fa fa-plus"></i> Add Question</a>
	    </div>
	</div><!--/row -->
</div><!--/container -->
<div class="toolbelt row">
    <div class="col-md-12 btns">
        <button class="btn btn-primary" id="save-quiz" disabled="disabled"><i class="fa fa-save"></i> Saved</button>
        <button class="btn btn-primary" id="preview" data-toggle="modal" data-target="#preview-modal"><i class="fa fa-play"></i> Preview</button>
        <button class="btn btn-primary" id="publish"><i class="fa fa-circle"></i> Publish</button>
        <a class="btn btn-info" href="/musicgame/admin/"><i class="fa fa-list"></i> Back to quiz list</a>
    </div>
</div>

<div id="preview-modal">
</div>
