<% if (audio && audio.id) { %>
<div id="jp-player-<%= audio.cid %>" class="jp-player"></div>
<div class="jp-controls">
	<span class="a-btn">
    	<a href="javascript:;" class="play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></i></a>
		<a href="javascript:;" class="stop nav-btn" tabindex="1" style="display: none;" title="stop"><i class="fa fa-stop"></i></a>
	</span>
    <span class="audio-file-name"><b><%= audio.get('file_name') %></b></span>
    <p class="audio-remove">
		<a href="#" class="remove"><i class="fa fa-times"></i></a>
	</p>
</div>
<% } else { %>
<div class="input-group">
    <span class="input-group-addon btn btn-default btn-file audio-uploader" data-toggle="tooltip" data-placement="right" title="(mp3,wav)">
        <span><i class="fa fa-plus-square"></i> Audio</span>
        <input type="file" accept=".wav,.mp3" name="...">
    </span>

    <div class="loader-wrapper">
        <div class="loader"></div>
        <span class="waiting">Please wait... audio uploading</span>
    </div>
</div>
<% } %>
