<div class="choice-text row">
    <div class="col-xs-9">

		<div class="input-group">
            <span class="input-group-addon">

                <input
                    class="correct"
                    type="radio"
                    id="Q<%= choice.question.cid %>-C<%= choice.cid %>"
                    name="Q<%= choice.question.cid %>"
                    <% if (choice.get('correct_answer')) { %> checked="checked" <% } %>
                ></input>
                <label for="Q<%= choice.question.cid %>-C<%= choice.cid %>">
                    <span></span>
                </label>
            </span>
            <input
                type="text"
                class="form-control answer"
                placeholder="Choice"
                value="<%= choice.get('text') || '' %>"
            ></input>
        </div>

    </div>
    <div class="col-xs-1">
    	<a class="btn btn-danger rm-choice"><i class="fa fa-minus"></i></a>
    </div>
</div><!--/row-->
<div class="choice-files attach row">
    <div class="col-md-12">
    	
    	<div class="attach-table">
    		<div class="attach-table-row">
    			<div class="attach-table-column">
			    	<h6>Attach media:
				    	<em>(optional)</em>
			    	</h6>
    			</div>
    			<div class="attach-table-column">
			        <div class="audio">
			        </div>
    			</div>
		        
		        <div class="attach-table-column">
			        <div class="photo">
			        </div>
		        </div>
	        </div>
    	</div>
    </div>
</div><!--/row -->


