<div class="question">
    <div class="question-number row">
        <div class="col-lg-8 col-lg-offset-2">
        </div>
    </div>
    <div class="question-title row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>
                <span class="interrogative" contenteditable="true"><%= question.get('text') || 'Put question text here' %></span>
            </h3>
        </div>
    </div>
    <div class="question-files row">
        <div class="audio col-lg-4 col-lg-offset-2">
        </div>
        <div class="photo col-lg-4">
        </div>
    </div>
    <div class="question-info row">
        <div class="col-lg-8 col-lg-offset-2">
            <p>
                <span class="after-text" contenteditable="true" placeholder='Put information about the question that the user will see after they answer here.'><% if (question.attributes['after_text'] == 'null') {
                    question.get('after_text')
                }%></span>
            </p>
        </div>
    </div>
    <div class="choices">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Choices</h4>
            </div>
        </div>
    </div>
    </div>
    <div class="choice-btns row">
        <div class="col-lg-8 col-md-offset-2 col-s-12">
            <div class="pull-right">
                <a class="btn btn-success add-choice"><i class="fa fa-plus"></i></a>
                <a class="btn btn-danger rm-choice"><i class="fa fa-minus"></i></a>
                <a class="btn btn-danger rm-question"><i class="fa fa-times"></i> Remove question</a>
            </div>
        </div>
    </div>
</div>