<% if (photo && photo.id) { %>
<div class="remove-image">
	<a href="#" class="remove">
	<img class="preview" title="<%= photo.get('file_name') || '' %>" src="<%= photo.get('rendered_100_path') %>"></img>
	<span class="remove-icon"><i class="fa fa-times"></i></span></a>
</div>
<% } else { %>
<div class="input-group">
    <span class="input-group-addon btn btn-default btn-file photo-uploader" data-toggle="tooltip" data-placement="right" title="Square crop, minimum 600px (jpg,png)">
        <span><i class="fa fa-plus-square"></i> Image</span>
        <input type="file" accept=".jpg,.jpeg,.png" name="...">
    </span>

    <div class="loader-wrapper">
        <div class="loader"></div>
        <span class="waiting">Please wait... photo uploading</span>
    </div>
</div>

<span class="help-block"></span>
<% } %>
