<% if (audio.id) { %>

<div id="jp-player-<%= audio.id %>" class="jp-player"></div>
<div class="jp-controls">
    <a href="javascript:;" class="play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></i></a>
    <a href="javascript:;" class="stop nav-btn" tabindex="1" style="display: none;" title="stop"><i class="fa fa-stop"></i></a>
    <span class="audio-file-name"><%= audio.get('file_name') %></span>
</div>


<% } %>

<div class="input-group">
    <span class="input-group-addon btn btn-default btn-file">
        <span><i class="fa fa-volume-up"></i> Upload audio</span>
        <input type="file" name="...">
    </span>
    <a href="#" class="input-group-addon btn btn-default remove">Remove audio</a>
</div>
