<form id="quiz-form">
    <div class="title row">
        <h1 class="col-lg-8 col-md-offset-2">
            <span contenteditable="true"><%= quiz.get('title') %></span>
        </h1>
    </div>
    <div class="desc row">
        <h4 class="col-lg-8 col-md-offset-2 col-s-12"><span contenteditable="true"><%= quiz.get('text') %></span></h4>
    </div>
    <div class="tags row">
        <div class="col-lg-8 col-md-offset-2 col-s-12">
            <div class="input-group">
                <span class="input-group-addon">Category:</span> <input type="text" class="form-control" placeholder="Drum Fill Friday">
            </div>
        </div>
    </div>

    <div class="questions">
    </div>

    <div class="toolbelt row">
        <div class="col-lg-12 btns">
            <a class="btn btn-success" id="add-question"><i class="fa fa-plus"></i> Add Question</a>
            <a class="btn btn-primary" id="save-quiz"><i class="fa fa-save"></i> Save quiz</a>
            <a class="btn btn-primary" id="embed-quiz"><i class="fa fa-share"></i> Embed quiz</a>
        </div>
    </div>
</form>