<div class="row  question-settings">
	<div class="col-md-12">
		<h5>1</h5>
	     <a class="btn btn-info rm-question"><i class="fa fa-times"></i></a>
	</div>
</div><!--/row -->
<div class="question-details">
	<div class="question-title row">
	    <div class="col-md-12">
	        	<input type="text" class="form-control interrogative" placeholder="Question" value="<%= question.get('text') || '' %>">
	    </div>
	</div> <!--/row -->
	
	<div class="question-files attach row">
		<div class="col-md-3">
	        <div class="audio fileinput">
	        </div>
	    </div>
	    <div class="col-md-7">
	        <div class="photo fileinput">
	        </div>
	    </div>
	</div><!--/row -->

	<div class="question-info row">
	        <div class="col-md-12">
	            <textarea placeholder="Description (appears after a choice is made)" class="form-control after-text" rows="3"><% if (question.attributes['after_text'] == 'null') {
	                    question.get('after_text')
	                }%></textarea>
	        </div>
	</div><!--/row -->
</div>	<!--/question-details -->

<div class="choices">
	<h5>Answers</h5>
</div>
<div class="add-answer row">
	<div  class="col-md-12">
		<h5>
			<a class="btn btn-success add-choice"><i class="fa fa-plus"></i> add choice</a>
		</h5>
	</div>
</div><!--/row -->


   

