<div class="category-header">
	<h2><%= quizData['category'] %></h2>
</div>

<div class="container">
	<div class="row">
		<div class="quiz-info<% if (quizData['cover_image']){ %> has-cover<% } %>">
			<% if (quizData['cover_image']){ %>
				<div class="cover">
					<img class="img-responsive" src="<%= quizData['cover_image'] %>">
				</div>
			<% } %>

			<div class="quiz-title">
				<h1>You scored:</h1>
				<p class="score"><%= score %>/100</p>
				<p><a id="show-results" href="#"><i class="fa fa-list"></i> Review Quiz</a></p>

				<ul class="responses list-unstyled hide <% if (quizData['quiz_type'] === "audio"){ %>audio<% } %>">
				<% _.each(quizData['questions'], function(question, index){ %>
					<li>
						<% if (quizData['quiz_type'] === "audio"){ %>
						<div id="player_<%= index %>" class="jp-player" data-audio="<%= question.audio %>"></div>
						<div id="jp_container_<%= index %>" class="jp-audio pull-left">
						    <div class="jp-type-single">
						        <div class="jp-gui jp-interface">
						            <div class="jp-controls">
						                <a href="javascript:;" class="jp-play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></i></a>
						                <a href="javascript:;" class="jp-stop nav-btn" tabindex="1" style="display: none;" title="stop"><i class="fa fa-stop"></i></a>
						            </div>
						        </div>
						    </div>
						</div> <!-- end .jp-audio -->
						<% } %>
						<h2><%= question.text %></h2>
						<% if (answers[index] !== question.answer){ %>
							<p class="answer correct-answer"><i class="fa fa-check"></i> <%= question.answer %></p>
						<% }%>
						<p class="answer your-answer<% if (answers[index] == question.answer){ %> correct<% } else { %> incorrect<% }%>"><% if (answers[index] !== question.answer){ %>You answered: <% } %><%= answers[index] %> </p>
					</li>
				<% }); %>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="next-up">
			<h2>Next up</h2>
			<h3>Michael Jackson</h3>
			<p><a class="btn btn-primary" href="./game.html?quiz=michael_jackson_quiz">Let's Go</a></p>
		</div>
	</div>


</div>





