<div class="container">
	<div class="row">
		<div class="quiz-info<% if (quizData['photo']){ %> has-cover<% } %>">
			<% if (quizData['photo']){ %>
				<div class="cover">
					<img class="img-responsive" src="<%= quizData['photo']['rendered_file_path'] %>">
				</div>
			<% } %>

			<div class="quiz-title">
				<h1>You scored:</h1>
				<p class="score"><%= score %>/<%= timer == 'true' ? '100' : quizData['questions'].length %></p>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="responses list-unstyled <% if (_.where(quizData['questions'], {audio: null}).length < quizData['questions'].length){ %>audio<% } %>">
		<% _.each(quizData['questions'], function(question, index){ %>
			<li class="<%= answers[index] === correctAnswers[index] ? 'correct' : 'incorrect' %>">
				<% if (question.audio){ %>
                <div id="player_<%= index %>" class="jp-player" data-mp3="<%= question.audio.rendered_mp3_path %>" data-ogg="<%= question.audio.rendered_oga_path %>"></div>
				<div id="jp_container_<%= index %>" class="jp-audio pull-left">
				    <div class="jp-controls">
				        <a href="javascript:;" class="play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></i></a>
				        <a href="javascript:;" class="pause nav-btn" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
				    </div>
				</div> <!-- end .jp-audio -->
				<% } %>
				<h2><%= question.text %></h2>
				<% if (_.where(question['choices'], { correct_answer: true })[0]['photo']) { %>
					<img src="<%= _.where(question['choices'], {correct_answer: true})[0]['photo']['rendered_file_path'] %>">
				<% } %>
				<% if (answers[index] !== correctAnswers[index]){ %>
					<p class="answer correct-answer"><i class="fa fa-check"></i> <%= correctAnswers[index] %></p>
				<% }%>
				<% if (answers[index].length > 0){ %>
				<p class="answer your-answer<% if (answers[index] === correctAnswers[index]){ %> correct<% } else { %> incorrect<% }%>"><% if (answers[index] !== correctAnswers[index]){ %>You answered: <% } %><%= answers[index] %> </p>
				<% } %>
			</li>
		<% }); %>
		</ul>
		<div class="next-up">
			<h2>Play another quiz</h2>
			<a href="http://www.npr.org/blogs/allsongs/2012/05/25/153615297/drum-fill-friday-from-wild-flags-drummer-janet-weiss">
				<div class="row">
					<div class="next-thumb">
						<img src="http://media.npr.org/assets/img/2012/07/26/michaellerner_sq-9a4fc5090e75efad7373f76dbfedc6c2e34919c6-s2-c85.jpg">
					</div>
					<div class="next-desc">
						<h4>Drum Fill Friday</h4>
						<h3>Wild Flag's Drummer Janet Weiss</h3>
						<p>Wild Flag (and former Sleater-Kinney) drummer Janet Weiss shares some of her all-time favorite drum fills and intros. Can you guess what songs they're from?</p>
					</div>
				</div>
			</a>
		</div>
	</div>


</div>





