<div class="container">
	<div class="row">
		<div class="quiz-info<% if (quizData['photo']){ %> has-cover<% } %>">
			<% if (quizData['photo']){ %>
				<div class="cover">
					<img class="img-responsive" src="<%= quizData['photo']['rendered_300_path'] %>">
				</div>
			<% } %>

			<div class="quiz-title">
				<h1>You scored:</h1>
				<p class="score"><%= score %>/<%= timer == 'true' ? '100' : quizData['questions'].length %></p>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="responses list-unstyled <% if (_.where(quizData['questions'], {audio: null}).length < quizData['questions'].length){ %>audio<% } %>">
		<% _.each(quizData['questions'], function(question, index){ %>
			<li class="<%= answers[index] === correctAnswers[index] ? 'correct' : 'incorrect' %><% if (_.where(question['choices'], { correct_answer: true })[0]['photo']) { %> has-photo<% } %><% if (question.audio){ %> has-audio<% } %>">
				<div class="question">
				<% if (question.audio){ %>
	                <div id="player_<%= index %>" class="jp-player" data-mp3="<%= question.audio.rendered_mp3_path %>" data-ogg="<%= question.audio.rendered_oga_path %>"></div>
					<div id="jp_container_<%= index %>" class="jp-audio pull-left">
					    <div class="jp-controls">
					        <a href="javascript:;" class="play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></i></a>
					        <a href="javascript:;" class="pause nav-btn" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
					    </div>
					</div> <!-- end .jp-audio -->
					<% } %>
					<h2><%= question.text %></h2>
				</div>
				<% if (_.where(question['choices'], { correct_answer: true })[0]['photo']) { %>
					<img class="correct-choice" src="<%= _.where(question['choices'], {correct_answer: true})[0]['photo']['rendered_300_path'] %>">
				<% } %>
				<div class="choices">
				<% if (answers[index] !== correctAnswers[index]){ %>
					<p class="answer answer-missed correct"><%= _.where(question['choices'], { correct_answer: true })[0]['text'] %></p>
				<% }%>
				<% if (answers[index] !== ''){ %>
					<p class="answer answer-selected <%= answers[index] === correctAnswers[index] ? 'correct' : 'incorrect' %>"><% if (answers[index] !== correctAnswers[index]){ %>You answered: <% } %><%= _.where(question['choices'], { id: answers[index] })[0]['text'] %> </p>
				<% } %>
				<% if (question['after_text']){ %>
					<div class="after-text">
						<p><strong>Quizmaster says:</strong> <%= question['after_text'] %></p>
					</div>
				<% } %>
				</div>
			</li>
		<% }); %>
		</ul>
        <% if (quizData['next_quiz']) { %>
		<div class="next-up">
			<h2>Play another quiz</h2>
            <a href="<%= quizData['next_quiz']['seamus_url'] %>">
                <% if (quizData['next_quiz']['photo']) { %>
				<div class="next-thumb">
                    <img class="img-responsive" src="<%= quizData['next_quiz']['photo']['rendered_300_path'] %>">
				</div>
                <% } %>
				<div class="next-desc">
                    <h3><%= quizData['next_quiz']['title'] %></h3>
                    <p><%= quizData['next_quiz']['text'] %></p>
				</div>
			</a>
		</div>
        <% } %>
	</div>
</div>

