<h3 class="progress-header">Question <%= questionNumber %>/<%= quizLength %></h3>
<svg class="timer-container" width="50" height="50" viewbox="0 0 50 50" preserveAspectRatio="xMinYMin meet">
  <circle id="timer-bg" cx="25" cy="25" r="25" />
  <path id="timer" transform="translate(25, 25)"/>
</svg>
<% if (QUIZ.quiz_type === "audio"){ %>
<div id="player" class="jp-player"></div>
<div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
        <div class="jp-gui jp-interface">
            <div class="jp-controls">
                <a href="javascript:;" class="jp-play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></i></a>
                <a href="javascript:;" class="jp-stop nav-btn" tabindex="1" style="display: none;" title="stop"><i class="fa fa-stop"></i></a>
            </div>
        </div>
    </div>
</div> <!-- end .jp-audio -->
<% } %>
<h1 class="question-text"><%= text %></h1>
<ul class="answers">
<% _.each(_.shuffle(choices), function(choice){ %>
	<% if (choice.text) { %>
		<li<% if (choice.cover !== null) { %> class="has-cover"<% } %>>
			<a href="#">
			<% if (choice.cover !== null) { %>
				<div class="cover">
					<img class="img-responsive" src="/musicgame/<%= choice.cover.replace('www/', '') %>">
				</div>
			<% } %>
				<div class="answer"><%= choice.text %></div>
			</a>
		</li>
	<% } else { %>
		<li><a href="#"><div class="answer"><%= choice %></div></a></li>
	<% } %>
<% }); %>
</ul>


