<% if (quiz.category) { %>
<div class="category-header">
	<h2><%= quiz.category.get('name') %></h2>
</div>
<% } %>

<div class="container">
	<div class="row">
		<div class="quiz-info<% if (quiz.photo) { %> has-cover<% } %>">
			<% if (quiz.photo){ %>
				<div class="cover">
					<img class="img-responsive" src="<%= quiz.photo.get('file_path') %>"
				</div>
			<% } %>

			<div class="quiz-title">
				<h1><%= quiz.get('title') %></h1>
				<% if(timer === true){ %>
					<p><i class="fa fa-clock-o"></i> You'll have <%= TIMERLENGTH %> seconds to answer each question.</p>
				<% } %>

				<p><i class="fa fa-headphones"></i> Make sure your speakers or headphones are turned up.</p>
				<a id="start-quiz" class="btn btn-large btn-primary" href="#">Start Quiz</a>
			</div>
		</div>
	</div>
</div>
