<div class="container">
	<div class="row">
		<div class="quiz-info<% if (photo) { %> has-cover<% } %>">
			<% if (photo){ %>
				<div class="cover">
					<img class="img-responsive" src="/<%= APP_CONFIG.PROJECT_SLUG %>/img/transparent.png" data-small="<%= photo['rendered_100_path'] %>" data-medium="<%= photo['rendered_300_path'] %>" data-large="<%= photo['rendered_600_path'] %>">
					<% if (photo['credit']){ %>
						<div class="credit">Photo: <%= photo['credit'] %></div>
					<% } %>
				</div>
			<% } %>

			<div class="quiz-title">
				<h1><%= title %></h1>
				<% if (timer === true||_.where(quizData['questions'], {audio: null}).length < quizData['questions'].length) { %>
					<ul class="fa-ul">
					<% if(timer === true){ %>
						<li><i class="fa fa-li fa-clock-o"></i> You'll have <%= TIMERLENGTH %> seconds to answer each question.</li>
					<% } %>

					<% if (_.where(quizData['questions'], {audio: null}).length < quizData['questions'].length){ %>
						<li><i class="fa fa-li fa-headphones"></i> Make sure your speakers or headphones are turned up.</li> 
					<% } %>
					</ul>
				<% } %>
				<a id="start-quiz" class="btn btn-large btn-primary" href="#">Start Quiz</a>
			</div>
		</div>
	</div>
</div>
