<div class="category-header">
	<h2><%= category.name %></h2>
</div>

<div class="container">
	<div class="row">
		<div class="quiz-info<% if (photo) { %> has-cover<% } %>">
			<% if (photo){ %>
				<div class="cover">
					<img class="img-responsive" src="<%= photo['file_path'] %>">
				</div>
			<% } %>

			<div class="quiz-title">
				<h1><%= title %></h1>
				<% if(timer === true){ %>
					<p><i class="fa fa-clock-o"></i> You'll have <%= TIMERLENGTH %> seconds to answer each question.</p>
				<% } %>

				<p><i class="fa fa-headphones"></i> Make sure your speakers or headphones are turned up.</p>
				<a id="start-quiz" class="btn btn-large btn-primary" href="#">Start Quiz</a>
			</div>
		</div>
	</div>
</div>
