{% extends 'admin/_base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <a href="./">&laquo; Back to quiz list</a>
        <h3>Preview</h3>

        <div id="preview">
        </div>
    </div>
    <div class="row">
        <h3>Embed</h3>

        <textarea id="embed" readonly="readonly" rows="10" cols="100">
        </textarea>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ JS.push('js/lib/parent.js') }}
{{ JS.push('js/admin_preview.js') }}
{{ JS.render('js/admin-preview.min.js') }}
{% endblock %}
