{% extends 'admin/_base.html' %}

{% block content %}
<div class="container preview">
    <div class="row">
        <div class="header">
            <h1>"{{ quiz.title }}"</h1>
            <a href="./">&laquo; Back to quiz list</a>
        </div>
    </div>

    <div class="row">
        <div class="embed-wrapper">
            <h3>1. Preview your quiz</h3>
            <div class="preview-wrapper">
                <p><small>Typical mobile screen boundary shown in red. Make sure your question and all answers fit in this space.</small></p>
                <div id="preview" class="quiz-preview">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="embed-code">
            <h3>2. Embed your quiz in Seamus</h3>
            <p><a class="clipper" href="#">Click here</a> to copy this code to your clipboard. Then paste it into a Seamus HTML asset.</p>
            <textarea id="embed" readonly="readonly" rows="10" cols="100"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="save-seamus-url">
            <h3>3. Save your Seamus URL.</h3>
            <p>TKTK</p>
            <input type="text" id="seamus-url" value="{{ quiz.seamus_url }}" />
            <button id="publish-now" class="btn btn-default">Publish now</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ JS.push('js/lib/parent.js') }}
{{ JS.push('js/lib/ZeroClipboard.js') }}
{{ JS.push('js/admin_preview.js') }}
{{ JS.render('js/admin-preview.min.js') }}
{% endblock %}
