<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{ PROJECT_NAME }} : NPR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />

    <!-- Fonts -->
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
    <script>
        WebFont.load({
             custom: {
                 families: [
                     'Gotham SSm:n4,n7',
                     'Gotham:n4,n7'
                 ],
                 urls: [
                     'http://s.npr.org/templates/css/fonts/GothamSSm.css',
                     'http://s.npr.org/templates/css/fonts/Gotham.css'
                 ]
             },
             timeout: 10000
         });
    </script>

    <!-- CSS -->
    {{ CSS.push('less/admin.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/admin.min.css') }}
</head>

<body>

<div id="quiz-creation">
    <form id="quiz-form">
        <div class="title row">
            <h1 class="col-lg-8 col-md-offset-2">
                <span contenteditable="true">Put Title Here</span>
            </h1>
        </div>
        <div class="desc row">
            <h4 class="col-lg-8 col-md-offset-2 col-s-12"><span contenteditable="true">Put Description Here</span></h4>
        </div>
        <div class="tags row">
            <div class="col-lg-8 col-md-offset-2 col-s-12">
                <div class="input-group">
                    <span class="input-group-addon">Category:</span> <input type="text" class="form-control" placeholder="Drum Fill Friday">
                </div>
            </div>
        </div>

        <div class="questions">
        </div>

        <div class="add-question row">
            <div class="col-lg-8 col-md-offset-2 col-s-12">
                <a class="btn btn-success" id="add-question"><i class="fa fa-plus"></i> Add question</a>
                <a class="btn btn-primary" id="add-question">Save quiz</a>

            </div>
        </div>
    </form>
</div>

<!-- JS -->
{{ JS.push('js/lib/jquery.js') }}
{{ JS.push('js/lib/underscore.js') }}
{{ JS.push('js/lib/bootstrap.js') }}
{{ JS.push('js/lib/moment.js') }}
{{ JS.push('js/lib/child.js') }}
{{ JS.push('js/lib/jquery.jplayer.js') }}
{{ JS.push('js/app_config.js') }}
{{ JS.push('js/copy.js') }}
{{ JS.push('js/console.js') }}
{{ JS.push('js/templates.js') }}
{{ JS.push('js/utils.js') }}
{{ JS.push('js/admin.js') }}
{{ JS.render('js/admin-footer.min.js') }}
</body>
</html>
