<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{ PROJECT_NAME }} : NPR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />

    <!-- Fonts -->
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
    <script>
        WebFont.load({
             custom: {
                 families: [
                     'Gotham SSm:n4,n7',
                     'Gotham:n4,n7'
                 ],
                 urls: [
                     'http://s.npr.org/templates/css/fonts/GothamSSm.css',
                     'http://s.npr.org/templates/css/fonts/Gotham.css'
                 ]
             },
             timeout: 10000
         });
    </script>

    <!-- CSS -->
    {{ CSS.push('less/game.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/game.min.css') }}
</head>

<body>

    <div id="content"></div>

    <!-- JS -->
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/child.js') }}
    {{ JS.push('js/lib/jquery.jplayer.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/utils.js') }}
    {{ JS.push('js/game.js') }}
    {{ JS.render('js/game-footer.min.js') }}

    <!-- GOOGLE ANALYTICS -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS.ACCOUNT_ID }}']);
        _gaq.push(['_setDomainName', '{{ GOOGLE_ANALYTICS.DOMAIN }}']);
        //_gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>

</html>
