<!DOCTYPE html>
<html>
<head>
    <title>Game Preview :  NPR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- CSS -->
    {{ CSS.push('less/preview.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/preview.min.css') }}
</head>
<body>
    <p>Example preview url: <a href="preview.html?quiz=august-2-2011">preview.html?quiz=august-2-2011</a></p>

    <p>Example game url: <a href="game.html?quiz=august-2-2011">game.html?quiz=august-2-2011</a></p>

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/index.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/index-footer.min.js') }}
</body>
