<!DOCTYPE html>
<html>
<head>
    <title>Game Preview :  NPR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- CSS -->
    {{ CSS.push('less/preview.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/preview.min.css') }}
</head>
<body>
    <p>Example preview url: <a href="/musicgame/game/test/preview.html">/musicgame/game/test/preview.html</a></p>

    <p>Example game url: <a href="/musicgame/game/test/game.html">/musicgame/game/test/game.html</a></p>

    {% for year in top_singles_by_year %}
        <form>
            <h4>Which was the top single in {{ year.year }}?</h4>
            {% for track in year.choices %}
                <label>
                    <input name="{{ year.year }}" type="radio" data-value="{{ track['Yearly Rank'] }}"></input>
                    {{ track['Track'] }} by {{ track['Artist'] }}
                </label><br/>
            {% endfor %}
        </form>
    {% endfor %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/index.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/index-footer.min.js') }}
</body>
