<!DOCTYPE html>
<html>
<head>
    <title>{{ PROJECT_NAME }} Preview :  NPR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- CSS -->
    {{ CSS.push('less/preview.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/preview.min.css') }}
</head>
<body>
    <h3>Preview</h3>

    <div id='preview'>
    </div>

    <a href="publish/">Publish to S3</a>

    <h3>Production embed</h3>

    <textarea id="production" readonly="readonly" rows="10" cols="50">
    </textarea>

    <h3>Localhost embed</h3>

    <textarea id="localhost" readonly="readonly" rows="10" cols="50">
    </textarea>

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/parent.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/utils.js') }}
    {{ JS.push('js/preview.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/preview-footer.min.js') }}
</body>
